.git
.gitignore
.DS_Store
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo

.venv
venv

frontend/property-search/.next
frontend/property-search/node_modules

**/node_modules
**/.next

apt_prices_poland
Houses.csv
*.ipynb
*.drawio

